  
<div class="container-fluid">
	<nav class="navbar navbar-right">    
	    <ul class="nav navbar-nav ">
	      <li><a href="/create">Create</a></li>
	      <li><a href="/students">List students</a></li>
	    </ul>
	</nav>
</div>
